
body {
	margin: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#paper {
	display: block;
	position: relative;
	background: url('/img/22_1712_oboi_list_v_kletochku_640x960.jpg');
	margin: auto;
	width: 600px;
	height: 600px;
}

#plan {
	display: block;
	position: absolute;
	background: #00B7FF;
	width: 100px;
	height: 150px;
	bottom: 0px;
	margin: 0;
}